#searchInput {
    height: 70px;
    border: none;
    background: #E7E7E7;
}

.searchbar{
    position: relative;
}

.searchbar i{
    position: absolute;
    font-size: 30px;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.card{
    border: none;
}
.card-text, .ingredients {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.ingredients p{
    margin-bottom: 0;
}

.card-title h2, .card-title p, .card-title i {
    font-size: 18px;
}

.card-title h2{
    max-width: 300px;
}

.card-body {
    height: 200px;
    background: #E7E7E7;
}

.card-body i {
    margin-right: 5px;
}

.hidden{
    display: none;
}

.expand{
    display: block;
}