button {
    border: none;
    color: white;
    padding: 10px;
    margin-right: 5px;
    
    i{
        margin-left: 10px;
        pointer-events: none;
    }
    &.ingredient {
        background-color: $color-ingredient;
    }
    &.appliance {
        background-color: $color-appliance;
    }
    &.ustensil {
        background-color: $color-ustensil;
    }
}