.container {
    position: relative;
}

#recipes {
    margin-top: 100px;
}

.card{
    border: none;
}

.card-text, .ingredients {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.ingredients p{
    margin-bottom: 0;
}

.card-title {
    h2, p, i {
        font-size: 18px;
    } 
    h2 {
        max-width: 300px;
    }
}

.card-body {
    height: 200px;
    background: #E7E7E7;

    i {
        margin-right: 5px;
    }
}

.result {
    width: 100%;
}

@media (max-width: 767.98px){
    #recipes {
        margin-top: 10px;
    }
}