.bg-ingredients{
    background-color: $color-ingredient;
}
.bg-appliance{
    background-color: $color-appliance;
}
.bg-ustensils{
    background-color: $color-ustensil;
}

.hidden{
    display: none;
}

.expand{
    display: block;
}

#tags button{
    margin-top: 5px;
}

ul {
    max-height: 230px;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
	width: 12px;
    border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.3);
    }
    &::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
    }
    li {
    flex: 0 2 33%;
    list-style-type: none;
    padding-bottom: 5px;
    cursor: pointer;
    }
}

.filters{
    padding: 12px;
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 1;
}

.filter__ingredient, .filter__appliance, .filter__ustensil{
    color: white;
    margin-right: 20px;

    i{
        margin-left: 20px;
        cursor: pointer;
    }
    &.col-md-2{
        height: 70px;
        line-height: 70px;
        padding-left: 30px;
        min-width: 170px;
        font-weight: bold;
        cursor: pointer;
    }
}

.filter__ingredient--expanded, .filter__appliance--expanded, .filter__ustensil--expanded{
    position: relative;

    i{
        position: absolute;
        top: 25px;
        right: 15px;
    }
}

#filter__ingredient--input, #filter__appliance--input, #filter__ustensil--input{
    width: 90%;
    color: white;
    border: none;
    padding: 20px 0 20px 0;
    font-weight: bold;

    &:focus-visible{
        background: none;
        outline: none;
    }
    &::placeholder{
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 991.98px){
    ul li {
        flex: 0 2 50%;
    }
}

@media (max-width: 767.98px){
    .filters{
        position: static;
        p{
            text-align: center;
        }
    }
}

@media (max-width: 575.98px){
    ul li {
        flex: 0 2 100%;
    }
}