#searchInput {
    height: 70px;
    border: none;
    background: #E7E7E7;
}

.searchbar{
    position: relative;
    
    i{
        position: absolute;
        font-size: 30px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
}

