#searchInput {
    height: 70px;
    border: none;
    background: #E7E7E7;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.375rem;
    
    &:focus{
        outline-color: $color-logo;
    }
}

.searchbar{
    position: relative;
    
    i{
        position: absolute;
        font-size: 30px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
}

